ul {
    list-style: none;
}

ul li {
    padding: 4% 0;
    font-size: 1.3em;
    border: 1px grey solid;
}

hr {
    font-size: 5px;
}
#next{
    float: right;
}

#back{
    float: left;
}

input {
    width: 70%;
}