.candidate-card {
    width:100%;
    display: inline-block;
    word-wrap: break-word;
}
.candidate-card p {
    word-wrap: break-word;
}

input{
    width: 100%;
    margin-bottom: 10%;
}

ol {
    margin-bottom: 10%;
}
ol li {
    font-size: 2em;
    margin: 5% 0px;
    word-wrap: break-word;
}

button{
    width: 30%;
    display: block;
}

.wizard-selector{
    border-right: 1px black solid;
}

img {
    width: 100%;
    top: 0px;
}

@media only screen and (max-width: 635px) {
    ol li {
        font-size: 1.5em;
        margin: 10% 0px;
        word-wrap: break-word;
    }
}

@media only screen and (max-width: 545px) {
    ol li {
        font-size: 1.1em;
        margin: 10% 0px;
        word-wrap: break-word;
    }
}

@media only screen and (max-width: 545px) {
    ol li {
        font-size: 1em;
        margin: 10% 0px;
        word-wrap: break-word;
    }
}