.candidate-card {
    width:100%;
    display: inline-block;
    word-wrap: break-word;
}
.candidate-card p {
    word-wrap: break-word;
}

input{
    width: 100%;
    margin-bottom: 10%;
}

ol {
    margin-bottom: 10%;
}
ol li {
    font-size: 2em;
    margin: 5% 0px;
    word-wrap: break-word;
}

button{
    width: 30%;
    display: block;
}

.wizard-selector{
    border-right: 1px black solid;
}

img {
    width: 100%;
    top: 0px;
}

@media only screen and (max-width: 635px) {
    ol li {
        font-size: 1.5em;
        margin: 10% 0px;
        word-wrap: break-word;
    }
}

@media only screen and (max-width: 545px) {
    ol li {
        font-size: 1.1em;
        margin: 10% 0px;
        word-wrap: break-word;
    }
}

@media only screen and (max-width: 545px) {
    ol li {
        font-size: 1em;
        margin: 10% 0px;
        word-wrap: break-word;
    }
}

.candidate-card {
    padding: 0;
    text-align: center;
    margin: 2% auto;
    position: relative;
    overflow: hidden;
    background-color: white;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    margin: 2% 2%;
  
  }
  
  .candidate-card:hover{
    box-shadow: 0 15px 18px 0 rgba(0,0,0,0.27), 0 20px 60px 0 rgba(0,0,0,0.2);
  }
  h2{
      text-align: center;
  }
  
.candidate-card img {
    width: 100% !important;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    margin-bottom: 5%; }

.candidate-card:hover {
        border: solid 1px grey;
        border-radius: 10%;
        cursor: pointer; }
      
.candidate-card:hover img {
        -moz-transform: scale(1.1);
        -webkit-transform: scale(1.1);
        transform: scale(1.1); }

.btn-info {
    background-color:#859190;
}

.btn-info:hover{
    background-color:#627a78;
}

.btn-primary.disabled {
    background-color:#95cbe0;
}