.field {
    display:flex;
    position:realtive;
    margin:5% auto;
    width:70%;
    flex-direction:row;
    box-shadow:
     1px 1px 0 rgb(163, 202, 219),
     2px 2px 0 rgb(163, 202, 219),
     3px 3px 0 rgb(163, 202, 219),
     4px 4px 0 rgb(163, 202, 219),
     5px 5px 0 rgb(163, 202, 219),
     6px 6px 0 rgb(163, 202, 219),
     7px 7px 0 rgb(163, 202, 219),
     8px 8px 0 rgb(163, 202, 219),
     9px 9px 0 rgb(163, 202, 219)
    ;
  }
  
  .field>input[type=text] {
    flex:1;
    padding:0.6em;
    border:0.2em solid rgb(163, 202, 219);
  }

  #search {
      margin: 0 auto;
  }
  