input {
    border: 1px solid grey;
    border-radius: 30%;
    margin-left: 10%;
    margin-bottom: 5% !important;
    -webkit-border-radius: 5px !important;
    -moz-border-radius: 5px !important;
    border-radius: 5px !important;
}
